.cart-navigation-options {
  display: flex;
  padding: 20px 30px;
  gap: 20px;
}

.floating-btn {
  position: fixed;
  bottom: 32px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #929292;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
}

.settings-btn {
  left: 32px;
}

.cart-btn {
  right: 32px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.top-bar {
  background-color: #3a3a3a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 20px;
}

.panel-container {
  display: flex;
  min-height: calc(100vh - 48px);
  height: auto;
  background-color: #e0e0e0;
}

.regular-container {
  min-height: calc(100vh);
  height: auto;
  background-color: #d3d3d3;
}

.main-menu-header {
  text-align: center;
  padding: 20px;
  font-size: 3rem;
  color: #3a3a3a;
}

.menu-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  margin: 30px;
}

.menu-option {
  padding: 10px 20px;
  background-color: #929292;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  width: 250px;
  height: 350px;
  text-align: center;
  line-height: 340px;
  text-decoration: none;
}

.bottom-button {
  padding: 10px 20px;
  background-color: #c6c6c6;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  width: 200px;
  height: 70px;
}

.sidebar {
  width: 250px;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.7rem;
  padding: 20px;
}

.item-sidebar {
  width: 350px;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.7rem;
  padding: 20px;
  line-height: 50px;
}

.menu-item.selected {
  font-weight: bold;
  color: #000;
}

.menu-item {
  color: #555;
  cursor: pointer;
  text-decoration: none;
}

.item-menu {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  align-items: flex-start;
}

.item-button {
  width: 150px;
  height: 150px;
  padding: 5px;
  background-color: #d3d3d3;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(58, 58, 58);
  text-decoration: none;
  text-align: center;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drink-button:hover {
  background-color: #c5c5c5;
}

.customization {
  color: rgb(58, 58, 58);
}

.customize-option {
  width: 150px;
  height: 70px;
  background-color: #d3d3d3;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 00;
  color: rgb(96, 96, 96);
  margin: 10px;
}

.customize-option:hover {
  background-color: #c5c5c5;
}

.customize-option.selected {
  background-color: #696969;
  color: white;
}

.customize-panel {
  padding: 20px;
  line-height: 55px;
}

.navigation-option {
  padding: 10px;
  background-color: #b6b6b6;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 00;
  color: rgb(96, 96, 96);
  text-decoration: none;
  font-weight: 100;
}

.navigation-option:hover {
  background-color: #c5c5c5;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c1c1c1;
  margin: 20px 30px;
  padding: 25px 30px;
  gap: 40px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.cart-item-name {
  font-size: 2rem;
  color: #3a3a3a;
  margin-bottom: 5px;
}

.cart-item-mods,
.cart-item-qty,
.cart-item-price {
  font-size: 1.2rem;
  color: #555;
}

.cart-item-actions {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
}

.cart-item-action {
  padding: 10px 24px;
  background-color: #929292;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.cart-navigation-options {
  display: flex;
  padding: 20px 30px;
  gap: 20px;
}

.managerButtons {
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  cursor: pointer;
}

.managerButtons:hover {
  background-color: #f3f4f6;
}